<h2>Product App</h2>
<br><br>
<form>
<div class="container">
    <div class="form-group">
        <input type="text" name="name" class="form-control" placeholder="Name">
    </div>
    <br>
    <div class="form-group">
        <input type="text" name="quantity" class="form-control" placeholder="Quantity">
    </div>
    <br>
    <div class="form-group">
        <input type="text" name="price" class="form-control" placeholder="Price">
    </div>
    <br>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">ADD PRODUCT</button>
    </div>
</div>
</form>